@page
@model Razor_Tutorial_Test.Pages.CategoriesManage.CreateModel
<div class="page-section bg-dark text-primary" style="min-height:780px;">
    <div class="container mt-5 mb-5 bg-secondary border border-primary rounded-5">
        <form method="post">
            <div class="p-3 mt-4">
                <div class="row pb-2">
                    <h2 class="text-primary">
                        Create Category
                    </h2>
                    <hr/>
                </div>
                <div asp-validation-summary="All"></div>
                <div class="mb-3" >
                    <label asp-for="Category.Name"></label>
                    <input asp-for="@Model.Category.Name" class="form-control bg-dark text-white border-primary" placeholder="Insert Your Category Name Here..." />
                    <span asp-validation-for="Category.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Category.Description"></label>
                    <textarea asp-for="@Model.Category.Description" class="form-control bg-dark text-white border-primary" rowss="3" placeholder="Insert Your Description Here..." ></textarea>
                    <span asp-validation-for="Category.Description" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-outline-primary" style="width:150px;">Create</button>
                <a asp-page="Index" class="btn btn-outline-dark" style="width:150px;">Back</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial.cshtml"/>
    }
}